<div class="container">
  <h2>Forgot Password</h2>
</div>

<div class="header">
  <div class="form-container">
    <h2>Reset Password</h2>
    <br>
    <p *ngIf="message" class="info-message">{{ message }}</p>
    <p *ngIf="errmessage" class="error-message">{{ errmessage }}</p>
    <input type="text" class="form-input" placeholder="New Password" [(ngModel)]="password">
    <input type="text" class="form-input" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
    <button class="Reset-button" [disabled]="resetbtn" (click)="resetPassword()" aria-label="Reset">Reset</button>
  </div>
</div>
